@using Microsoft.AspNet.Identity
@*@if (Request.Cookies.Get("productcookie").Value == "admin")*@
@if (Request.Cookies["loggedInCookie"] != null)
{
    if (Request.Cookies["loggedInCookie"].Value == "true")
    {
        Html.AntiForgeryToken();

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + "user" + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Log out", "Logout", "Customers") 
        </li>
    </ul>

    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
}