@if (Request.Cookies["loggedInCookie"] != null && Request.Cookies["customerIdCookie"] != null)
{
    if (Request.Cookies["loggedInCookie"].Value == "true")
    {
        Html.AntiForgeryToken();

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("My Wishlist", "Userwishlist", "Product")</li>
        <li>@Html.ActionLink("My Favoritelist", "FavoritelistShow", "Product")</li>
        <li>
            @Html.ActionLink("Hello " + "user" + "!", "Details/" + Request.Cookies["customerIdCookie"].Value, "Customers", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li>
            @Html.ActionLink("Log out", "Logout", "Customers") 
        </li>
    </ul>

    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
}