@using WebApplication800000.Controllers
@using System.Threading.Tasks
@{
    ViewBag.Title = "Productshowcase";
}
<h2>Productshowcase</h2>
<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="~/Scripts/jquery-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script> 
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    
</head>
<body>
    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Catagory</th>
                <th>Price</th>
                <th>Manufactorer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in ProductController.products)
            {
                <tr>
                    <td><tc>
                        @if (x.Catagory == "MIS")
                        {
                            <img src="~/img/MSI.jpeg" style="max-height:50%; max-width:50%"/>
                        }
                        @if (x.Catagory == "Acer")
                        {
                            <img src="~/img/Acer.jpeg" style="max-height:50%; max-width:50%"/>
                        }
                        @if (x.Catagory == "Samsung")
                        {
                            <img src="~/img/Samsung.jpg" style="max-height:50%; max-width:50%"/>
                        }
                        @x.Name</tc></td>
                    <td><tc>@x.Catagory</tc></td>
                    <td><tc>$@x.Price</tc></td>
                    <td><tc>@x.Manufactorer</tc></td>
                    @*<td><tc><button name="addtocart" type=submit value="Add To Cart" style="width:100%">HTML</button></tc></td>*@
                    <td><tc>@Html.ActionLink("Add To Cart", "addShop", "Product", new { m = x.products_id }, null)</tc></td>
                    <td><tc>@Html.ActionLink("Add To Wishlist", "CrWishlist", "Product", new { w = x.products_id }, null)</tc></td>
                </tr>

            }
        </tbody>
    </table>
</body>
</html>