@model WebApplication800000.Models.Customer

@{
    ViewBag.Title = "Details";
}
@if ((Request.Cookies["customerIdCookie"] != null))
{
    if ((Int32.Parse(Request.Cookies["customerIdCookie"].Value) == Model.Id) || (Request.Cookies["adminCookie"] != null))
    {
        if ((Int32.Parse(Request.Cookies["customerIdCookie"].Value) == Model.Id) || (Request.Cookies["adminCookie"].Value == "true"))
        {
<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Order History", "OrderHistory")
            @if (Request.Cookies["adminCookie"] != null)
                {
                if (Request.Cookies["adminCookie"].Value == "true")
                {
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            }
</p>
        }
    }
}
